* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #000;
  color: #e5e7eb;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 35%;
  padding: 60px 40px;
  background: #000;
  border-right: 1px solid #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #22d3ee;
  margin-bottom: 25px;
}

.sidebar h1 {
  font-size: 52px;
  color: #22d3ee;
  letter-spacing: 2px;
}

.sidebar h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.tagline {
  color: #9ca3af;
  line-height: 1.7;
  margin-bottom: 30px;
}

/* Resume Button */
.resume-btn {
  text-decoration: none;
  color: #000;
  background: #22d3ee;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #a78bfa;
}

/* Socials */
.socials a {
  display: inline-block;
  margin-right: 15px;
  color: #22d3ee;
  text-decoration: none;
  font-size: 14px;
}

.socials a:hover {
  color: #a78bfa;
}

/* Content */
.content {
  width: 65%;
  padding: 70px;
}

section {
  margin-bottom: 70px;
}

section h3 {
  color: #a78bfa;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

section p {
  max-width: 700px;
  line-height: 1.9;
  color: #cbd5f5;
  margin-bottom: 15px;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.project {
  padding: 22px;
  background: #050505;
  border-radius: 14px;
  border: 1px solid #111;
  color: #e5e7eb;
  transition: 0.3s;
  text-align: center;
  font-size: 15px;
}

.project:hover {
  transform: translateY(-6px);
  border-color: #22d3ee;
  box-shadow: 0 0 25px rgba(34, 211, 238, 0.2);
}
